<ng-container>
  <mat-toolbar class="justify-content-between" color="primary">
    <span>E-Commerce Application</span>
    <span class="space-buttons"></span>
    <div *ngIf="!isLoggedIn()">
      <button  routerLink="/login" class="text-center"  mat-raised-button color="">
        <mat-icon>exit_to_app</mat-icon>
        <p class="m-0">Login</p>
      </button>
    </div>
    <div *ngIf="isLoggedIn()">
      <button  (click)="logout()" class="text-center"  mat-raised-button color="warn">
        <mat-icon>exit_to_app</mat-icon>
        <p class="m-0">Logout</p>
      </button>
    </div>
  </mat-toolbar>

  <mat-toolbar color="primary" *ngIf="isLoggedIn()">
    <div class="button-list">
      <app-icon-button  [icon]="'home'" [desLink]="['/']" >Home</app-icon-button>
      <app-icon-button *ngIf="!isAdmin()" [icon]="'shopping_cart'" [desLink]="['/cart']" >Cart</app-icon-button>
      <app-icon-button *ngIf="!isAdmin()" [icon]="'notes'" [desLink]="['/myOrders']" >My Orders</app-icon-button>
      <app-icon-button *ngIf="isAdmin()" [icon]="'home'" [desLink]="['/addNewProduct']" >Add New Product</app-icon-button>
      <app-icon-button *ngIf="isAdmin()" [icon]="'home'" [desLink]="['/showProductDetailes']" >Show All Products</app-icon-button>
      <app-icon-button *ngIf="isAdmin()" [icon]="'home'" [desLink]="['/orderInformation']" >Show Orders</app-icon-button>
    </div>
  </mat-toolbar>
  <ng-content></ng-content>
</ng-container>
