<div class="container mt-5">
  <div class="card" style="padding: 20px;">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput ngModel name="userName" id="userName" placeholder="Email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input type="password" matInput ngModel name="userPassword" id="userPassword" placeholder="Password">
      </mat-form-field>


      <div class="text-center">
        <button  type="submit" mat-raised-button color="primary">Login</button>
      </div>
      <div class="text-center">
        <p  class="colorp">{{error !=undefined ?error:""}}</p>
      </div>

    </form>


  </div>

  <div class="text-center">
    <br>
    <p>Click here to creat an Account</p>
    <button class="w-20" type="button" mat-raised-button color="primary" (click)="registerUser()">Sign Up</button>
  </div>
</div>
